@mixin containerForms(){
  position: absolute;
  width: 100%;
  height: 500px;
  border-radius: 1rem;
  text-align: center;
  background-color: grey;
  &__inTitle{
    width: 95%;
    height: 2rem;
    color: greenyellow;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    border-top-style: none;
    border-bottom-color: red;
    border-left-color: orange;
    border-right-color: yellow;
    background-color: transparent;
    margin-top: 2%;
  }

  &__inDescrip{
    width: 95%;
    height: 20rem;
    color: greenyellow;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    border-top-style: none;
    border-bottom-color: red;
    border-left-color: orange;
    border-right-color: yellow;
    background-color: transparent;
    margin-top: 2%;
  }
  &__click{
    width: 80%;
    height: 2rem;
    border: none;
    margin-top: 1%;
    font-size: 120%;
    color: orange;
    border-radius: 1rem;
    background-color: rgb(29, 26, 26);
  }
  &__title-1{
    width: 100%;
    font-size: 110;
    color: greenyellow;
    border-radius: 1rem;
    background-color: red;
  }
  &__previ {
    width: 100%;
    margin-top: 2%;
    border-radius: 1rem;
    text-align: center;
    background-color: orange;
  }
  &__title {
    width: 50%;
    margin: 1%;
    padding: 0;
    font-size: 100%;
    display: inline-block;
    color: rgb(160, 3, 3);
  }
  &__descrip {
    width: 80%;
    padding: 1%;
    margin: auto;
    padding: 2%;
    font-size: 80%;
    justify-content: center;
    border-radius: 1rem;
    color: rgb(22, 1, 1);
    background-color: rgb(128, 128, 128, 0.685);
  }
}

.container{
  @include containerForms();
}
