@mixin ContainerList() {
  position: absolute;
  width: 100%;
  height: 500px;
  text-align: center;
  border-radius: 1rem;
  overflow: hidden scroll;
  background-color: rgba(255, 217, 0, 0.445);
  &__list {
    width: 90%;
    margin-top: 1%;
    margin-left: 2%;
    border-radius: 1rem;
    justify-content: left;
    list-style-type: none;
    background-color: orange;
  }
  &__title {
    width: 50%;
    margin: 1%;
    padding: 0;
    font-size: 150%;
    display: inline-block;
    color: rgb(160, 3, 3);
  }
  &__descrip {
    width: 80%;
    padding: 1%;
    margin: auto;
    font-size: 90%;
    border-radius: 1rem;
    overflow-y: hidden scroll;
    white-space: normal;
    display: inline-flex;
    word-wrap: break-word;
    color: rgb(22, 1, 1);
    overflow-wrap: break-word;
    justify-content: center;
    background-color: rgb(128, 128, 128, 0.685);
  }
}

.container {
  @include ContainerList();
   scrollbar-width: none;
}
