<div class="container" >
  <ul>

      <li *ngFor="let task of taskiList; let indice = index;" [ngClass]="{container__complete: task.complete, container__Incomplete: !task.complete}">
        <label class="container__title">
          {{task.title}}
        </label>
        <p class="container__descrip">
          {{task.description}}
        </p>
        <br>
        <button class="container__click" (click)="changeCoplete(task)">
          {{task.complete? 'INCOMPLETE' : 'COMPLETE'}}
        </button>
        <button class="container__click" (click)="Delete(indice)">Delete</button>
      </li>
  </ul>
</div>
