@mixin containerForms() {
  position: absolute;
  width: 100%;
  height: 500px;
  border-radius: 1rem;
  text-align: center;
  background-color: grey;

  &__inTitle {
    width: 95%;
    height: 2rem;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    color: greenyellow;
    border-top-style: none;
    border-bottom-color: red;
    border-left-color: orange;
    border-right-color: yellow;
    background-color: transparent;
    margin-top: 2%;
  }

  &__inDescrip {
    width: 95%;
    resize: none;
    height: 20rem;
    margin-top: 3%;
    font-size: 1.5rem;
    text-align: center;
    border-radius: 2rem;
    color: greenyellow;
    border-top-style: none;
    border-bottom-color: red;
    border-left-color: orange;
    border-right-color: yellow;
    background-color: transparent;
  }

  &__click {
    width: 40%;
    height: 2rem;
    border: none;
    margin-top: 5%;
    color: orange;
    font-size: 120%;
    border-radius: 1rem;
    background-color: rgb(29, 26, 26);
  }

  &__previ {
    position: fixed;
    width: 16%;
    padding: 0.5%;
    margin-top: -26.6%;
    margin-left: 80.5%;
    text-align: center;
    border-radius: 1rem;
    background-color: orange;
  }

  &__title-1 {
    width: 100%;
    font-size: 110;
    color: rgb(255, 61, 47);
    border-radius: 1rem;
  }

  &__title {
    width: 50%;
    padding: 0;
    font-size: 100%;
    display: inline-block;
    color: rgb(160, 3, 3);
  }
  &__descrip {
    width: 80%;
    margin: auto;
    padding: 1%;
    font-size: 80%;
    white-space: normal;
    border-radius: 1rem;
    word-wrap: break-word;
    color: rgb(22, 1, 1);
    overflow-wrap: break-word;
    background-color: rgb(128, 128, 128, 0.685);
  }
}

.container {
  @include containerForms();
}
